/* VARIABLER */
$font-stack: "Open Sans", sans-serif;
$dantoto-primary-color: #dc5f11;
$dantoto-sek-color: #ae4a0c;
$DKspil-primary-color: #feb700;

body {
  background-color: white;
  font-family: $font-stack;
  margin: 0;
}

//HEST

#walking_horse {
  background-image: url(../svg/heste_walk.svg);
  height: 300px;
  width: 400px;
  margin: auto;
  animation: walk 1s steps(15) infinite, forward 7s linear infinite;
}

@keyframes walk {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 6006px;
  }
}

@keyframes forward {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-900px);
  }
}
