/* VARIABLER */
$font-stack: "Open Sans", sans-serif;
$dantoto-primary-color: #dc5f11;
$dantoto-sek-color: #ae4a0c;
$DKspil-primary-color: #feb700;

body {
  background-color: white;
  font-family: $font-stack;
  margin: 0;
}
#hest1 {
  transform-box: fill-box;
  transform-origin: center;
}

.info {
  width: 630px;
  height: auto;
  margin: auto;
  text-align: center;
  span {
    color: $dantoto-primary-color;
    font-weight: bold;
  }
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}

//SVG
svg {
  width: 100%;
  height: auto;
  /*   position: absolute;
  top: 5vw; */
}
.cls-1,
.cls-2 {
  stroke: #000;
}

.cls-1,
.cls-10,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  stroke-miterlimit: 10;
}

.cls-1 {
  stroke-width: 6.87px;
}

.cls-2 {
  fill: #8c6239;
}

.cls-2,
.cls-9 {
  stroke-width: 3.5px;
}

.cls-3 {
  fill: #006837;
  stroke-width: 6px;
}

.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7 {
  stroke: #fff;
}

.cls-10,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  fill: none;
}

.cls-4 {
  stroke-width: 1.87px;
}

.cls-10,
.cls-5 {
  stroke-width: 2.38px;
}

.cls-6 {
  stroke-width: 2.8px;
}

.cls-7 {
  stroke-width: 3.15px;
}

.cls-8 {
  stroke: #feb700;
  stroke-width: 34px;
}

.cls-9 {
  stroke: red;
  opacity: 0;
}

.cls-10 {
  stroke: #bbff8f;
  opacity: 0;
}

.cls-11 {
  fill: $dantoto-primary-color;
}

.cls-12,
.cls-13,
.cls-14,
.cls-15 {
  fill: #414042;
}

// COUNTDOWN
.countdown {
  width: 200px;
  height: 200px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-in 3s;
  margin: auto;
  position: absolute;
  z-index: 10;
  top: 30vw;
  left: 45vw;
}

.countdown-number {
  font-family: sans-serif;
  font-size: 90px;
  color: $DKspil-primary-color;
  width: 100%;
  height: 100%;
}

.countdown-inner {
  transform: translate(0, 100%);
  position: relative;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  transition: transform 4s steps(4, start);
}

.countdown.counting > .countdown-inner {
  transform: translate(0, -300%);
  animation: countdown-fade 1s ease-in 3;
}

.countdown.counting {
  opacity: 0;
}

@keyframes countdown-fade {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.go {
  cursor: pointer;
  width: 12vh;
  height: 5vh;
  right: 0;
  color: #ffffff;
  background-color: $DKspil-primary-color;
  border-radius: 20px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  position: absolute;
  top: 33vw;
  left: 48vw;
  z-index: 10;

  button:hover,
  button:active,
  button:focus {
    transform: scale(1.1);
  }
}

#Kuglerne {
  display: none;
}
